article, section, aside, hgroup, nav, header, footer, figure, figcaption { 
    display: block;
}

img {
    border: none;
}
#movielist {
    position:absolute;
    left: 141px;
//    float: left;
    background-color: azure;
}
footer {
   position:relative;
   width:100%;
   background:#6cf;
  margin-top: 50px; /* negative value of footer height */
  height: 30px;
  clear:both;
  padding-top:0px;
}


#mediumPart{
    position: relative;
    padding-top: 20px;
}
#content{
    max-height: 400px;
    overflow-y:scroll;
}

.even{
    background-color: #ccc;
}
.odd{
    background-color: #FFF;
}
.navbar {
  padding-top:0px;
}
.container {
  padding-top:0px;
}
.scrollable {
                height: 100%;
                overflow: auto;
}

#header {
    text-align: center
}

.p-footer {
    text-align: center;
    color: #888888;
}


table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
table tbody { height:350px; overflow-y:scroll; display:block; }
table thead { display:block; }

/* redefine bootstrap css */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ccc;
}

[ng-cloak] {
    display: none !important;
}