<!DOCTYPE html>
<html ng-app="movies_app">
    <head>
        <title>Amarag's movies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="js/libs/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/frontpage.css" rel="stylesheet" type="text/css"/>
        <link href="css/ng-grid.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="ApplicationController">

        <div>{{error}}</div>
        <header ng-include="'global/header.html'"></header>
        <div class="navbar navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
                <nav class="navbar navbar-default" ng-include="'global/mainmenu.html'"></nav>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form" novalidate 
                      ng-submit="login(credentials)" ng-controller="LoginController" ng-hide="loggedIn">
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" 
                           ng-hide="loggedIn" ng-model="credentials.username" autocomplete="off"
                           ngRrequired="true" >
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" 
                           ng-hide="loggedIn" ng-model="credentials.password" autocomplete="off"
                           required="true">
                </div>
                  <button type="submit" class="btn btn-success">{{btnLogInOut}}</button>
              </form>
                <form class="navbar-form navbar-right" role="form" novalidate 
                      ng-submit="logout()" ng-controller="LoginController" ng-show="loggedIn">
                  <button type="submit" class="btn btn-success">{{btnLogInOut}}</button>
              </form>
            </div><!--/.navbar-collapse -->
          </div>
        </div>        
        <div class="container-fluid" id="content" >
            <div ng-view></div>
        </div>
        <footer ng-include="'global/footer.html'"></footer>
 
        <script src="js/libs/angularJS/angular.min.js"></script>
        <script src="js/libs/angularJS/angular-route.min.js"></script>
        <script src="js/libs/jquery-1.11.1.min.js"></script>
        <script src="js/libs/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <script src="js/libs/angularJS/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/libs/ng-grid/ng-grid-2.0.11.min.js"></script>
        <script src="js/libs/ng-grid/ng-grid-flexible-height.js"></script>
        <script src="js/libs/ng-grid/ng-grid-doubleClick.js"></script>
        <script src="js/libs/cycle.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services/authetication.js"></script>
        <script src="js/services/mediums.js"></script>
        <script src="js/services/genres.js"></script>
        <script src="js/services/movies.js"></script>
        <script src="js/controllers/applicationcontroller.js"></script>
        <script src="js/controllers/homecontroller.js"></script>
        <script src="js/controllers/aboutcontroller.js"></script>
        <script src="js/controllers/logincontroller.js"></script>
        <script src="js/controllers/viewcontroller.js"></script>
    </body>
</html>
