<div id="wrapper" class="row row-offcanvas row-offcanvaas-right ">
    <div  class="col-md-2">
    <aside id="leftsidebar">
        <div id="genrePart" ng-include="'js/partials/genresSelector.html'"></div> 
        <div id="mediumPart" ng-include="'js/partials/mediumSelector.html'"></div>
    </aside>
    </div>
    <div class="col-md-8 movieList">
        <table id='mlist' class='table-hover table-striped'>
           <tbody> 
                <tr>
                    <th>Title</th>
                    <th>Genres</th>
                    <th>Mediums</th>
                </tr>
                <tr ng-repeat="movie in movies | filter :{types:mediumfilter, genres:genrefilter}" 
                    id="{{movie.nid}}}"
                    ng-click="setSelected(movie.nid)";
                    >
                    <td>{{movie.title}}</td>
                    <td>{{movie.genres}}</td>
                    <td>{{movie.types}}</td>
                </tr>
            </tbody> 
        </table> 
    </div> 
   
    <div id="rightsidebar" class="col-md-2">
        <div mvs-Statistics></div>
    </div>
</div>
<!--                    ng-class-even="'even'" 
                    ng-class-odd="'odd'" 
-->
