<div class="container-fluid" ng-controller="ViewController" ng-cloak>
<!--    <div class="row">
        <div class="col-md-2">Movie_id:</div><div class="col-md-10">{{movie.movie_id}}</div>
    </div>
-->
    <div class="row">
        <div class="col-md-2">Title:</div><div class="col-md-10">{{movie.title}}</div>
    </div>
    <div class="row">
    <div class="col-md-2">Imdb url:</div>
    <div class="col-md-10"><a href="{{movie.imdb_url}}">{{movie.imdb_url}}</a></div>
    </div>
    <div class="row">
    <div class="col-md-2">Moviemeter url:</div>
    <div class="col-md-10"><a href="{{movie.moviemeter_url}}">{{movie.moviemeter_url}}</a></div>
    </div>
    <div class="row">
        <div class="col-md-2">Orginal Title:</div><div class="col-md-10">{{movie.orginal_title}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Year:</div><div class="col-md-10">{{movie.year}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Genres:</div><div class="col-md-10">{{movie.genres}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Description:</div><div class="col-md-10">{{movie.description}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Type:</div><div class="col-md-10">{{movie.type}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Actors:</div><div class="col-md-10">{{movie.actors}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Add date:</div><div class="col-md-10">{{movie.add_date}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Length:</div><div class="col-md-10">{{movie.length}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Media label:</div><div class="col-md-10">{{movie.media_label}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Seen:</div><div class="col-md-10">{{movie.seen | true_false}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Director:</div><div class="col-md-10">{{movie.director}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Country:</div><div class="col-md-10">{{movie.country}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Owner:</div><div class="col-md-10">{{movie.owners}}</div>
    </div>
    <div class="row">
        <div class="col-md-2">Location:</div><div class="col-md-10">{{movie.locations}}</div>
    </div>
</div>
