<div class="container-fluid" ng-controller="ViewController">
<form>
{{error}}   
{{movie.title}}
    <div class="row">
    <div class="col-md-1"><label for="txtTitle">Title:</label></div>
    <div class="col-md-11"><input type="text" size="50" ng-model="movie.title"/></div>
    </div>
    <div class="row">
    <div class="col-md-1"><label for="txtYear">Year:</label></div>
    <div class="col-md-11"><input type="text" size="5" ng-model="movie.year"/></div>
    </div>
    <div class="row">
    <div class="col-md-1"><label for="txtType">Type:</label></div>
    <div class="col-md-11"><input type="text" ng-model="movie.type"/></div>
    </div>
    <div class="row">
    <div class="col-md-1"><label for="txtActors" >Actors:</label></div>
    <div class="col-md-11"><input type="text" size="50" ng-model="movie.actors"/></div>
    </div>
    <div class="row">
    <div class="col-md-1"><label for="txtDescription" >Descritpion:</label></div>
    <div class="col-md-11"><textarea cols="50" rows="4" ng-model="movie.description"/></div>
    </div>
</form>
</div>